/* vores globale css */
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Studio6Regular", sans-serif;
}

@font-face {
  font-family: "Studio6Regular";
  src: url("/fonts/Studio6-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Studio6Medium";
  src: url("/fonts/Studio6-Medium.otf") format("opentype");
  font-style: normal;
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
p {
  font-family: "Studio6Regular";
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}
h3 {
  font-size: 1.2rem;
  font-weight: bold;
}
.bg-modeColor {
  background-color: #f2f2f2;
}

.bg-beautyColor {
  background-color: #e6e5e5;
}

.bg-podcastColor {
  background-color: #d9d9d9;
}

.bg-jobPortalColor {
  background-color: #c5c7c9;
}

.stroked-text {
  -webkit-text-stroke: 0.3px black;
}
.clip-diagonal {
  clip-path: polygon(0 100%, 100% 60%, 100% 0, 0 0);
}
.clip-slide {
  clip-path: polygon(200% 100%, 60% 160%, 100% 100%, 0 10%);
}
