@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Studio6Regular', sans-serif;
}

@font-face {
  font-family: 'Studio6Regular';
  src: url('/fonts/Studio6-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Studio6Medium';
  src: url('/fonts/Studio6-Medium.otf') format('opentype');
  font-style: normal;
  font-weight: 700;
}

h1, h2, h3, h4, h5, p {
font-family: 'Studio6Regular';
}
.bg-modeColor {
  background-color: #F2F2F2;
}

.bg-beautyColor {
  background-color: #E6E5E5;
}

.bg-podcastColor {
  background-color: #D9D9D9;
}

.bg-jobPortalColor {
  background-color: #C5C7C9;
}

.stroked-text {
  -webkit-text-stroke: 0.3px black; }