.bar {
  position: fixed;
  width: 60px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  writing-mode: vertical-rl;
  font-weight: bold;
  font-size: 14px;
  transform: rotate(180deg);
  transition: transform 0.5s ease-in-out, left 0.5s ease-in-out;
  color: black;
  -webkit-text-stroke: 0.3px black;
  pointer-events: auto;
  z-index: 10;
  font-family: 'Studio6Regular', sans-serif;

}

.logoBar {
  background: white;
  left: 0;
  display: flex;
  justify-content: flex-start;   /* start horisontalt */
  align-items: flex-start;       /* start vertikalt */
  writing-mode: vertical-rl;
  transform: rotate(180deg);     /* gør teksten læsbar lodret */
  padding: 10px;
  font-size: 1.3rem;
  line-height: 1;
  z-index: 20;
  transform: rotate(0deg);
}

.label {
  transform: rotate(0deg);
}

.mode {
  display: flex;
  justify-content: flex-start;   /* start horisontalt */
  align-items: flex-start;       /* start vertikalt */
  writing-mode: vertical-rl;
  padding: 10px;
  font-size: 1.3rem;
  background-color: #F2F2F2;

}
.mode:hover {
  background-color: #FFFED9;
}

.beauty {
  background-color: #E6E5E5;
  display: flex;
  justify-content: flex-start;   /* start horisontalt */
  align-items: flex-start;       /* start vertikalt */
  writing-mode: vertical-rl;
  padding: 10px;
  font-size: 1.3rem;
}
.beauty:hover {
  background-color: #FFE3F5;
}
.podcast {
  background-color: #D9D9D9;
  display: flex;
  justify-content: flex-start;   /* start horisontalt */
  align-items: flex-start;       /* start vertikalt */
  writing-mode: vertical-rl;
  padding: 10px;
  font-size: 1.3rem;
}
.podcast:hover {
  background-color: #D3EEFF;
}
.job {
  background-color: #C5C7C9 ;
  display: flex;
  justify-content: flex-start;   /* start horisontalt */
  align-items: flex-start;       /* start vertikalt */
  writing-mode: vertical-rl;
  padding: 10px;
  font-size: 1.3rem;
  
}
.job:hover {
  background-color: #5EAEC9 ;
  transition: 0.0s ease-in-out;
 
}
